<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/head::common-head}"></div>
    <script type="text/javascript" src="../../../static/js/role-page.js" th:src="@{/js/role-page.js}"></script>
    <link rel="stylesheet" href="../../../static/css/role-page.css" th:href="@{/css/role-page.css}">
</head>
<body class="bg-dark text-white mx-auto">
<div th:replace="~{fragment/sidebar::sidebar}"></div>
<div th:replace="~{fragment/body::common-header}"></div>
<form class="mx-2" th:object="${editForm}" th:action method="post">
    <input type="hidden" th:field="*{id}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <div th:each="error:${#fields.globalErrors()}">
            <div class="global-error" th:text="${error}">에러가 났을 때</div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-sm-2" for="name">역할 이름</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="역할 이름" th:field="*{name}" id="name">
            <div class="field-error" th:errors="*{name}">이름 오류</div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="text-center"><h2>구역 목록</h2></div>
        <table class="table table-dark table-borderless text-center">
            <thead>
            <th>이름</th>
            <th>난이도</th>
            <th>최소 인원</th>
            <th>인수인계</th>
            </thead>
            <tr th:each="area: ${areas}" th:onclick="|openEditAreaModal(${area.areaId})|" th:id="'area$$' + ${area.areaId}">
                <td th:text="${area.areaName}">이름</td>
                <td th:text="${area.difficulty}">난이도</td>
                <td th:text="${area.minimumPeople}">최소 인원</td>
                <td th:text="${area.changeable}?'✅':''">인수인계</td>
            </tr>
        </table>
        <div class="text-center my-2 p-0">
            <button type="button" class="btn btn-outline-primary" onclick="addModal.show();">구역 추가</button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mx-3" type="submit">수정</button>
        <button class="btn btn-light mx-3">취소</button>
    </div>
</form>
<div class="modal text-dark" id="add-area-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">구역 생성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="add-area-name" class="form-control" placeholder="역할 이름">
                <div class="row">
                    <label class="col-12 col-sm-3 col-form-label" for="add-area-difficulty-range">난이도 <span id="add-area-difficulty-range-value">0</span></label>
                    <input type="range" id="add-area-difficulty-range" class="col-12 col-sm-9 form-range px-3" step="1" min="0" max="10"
                           onchange="document.getElementById('add-area-difficulty-range-value').innerText=this.value" value="0">
                    <label class="col-12 col-sm-3 col-form-label" for="add-area-minimumPeople-range">최소인원 <span id="add-area-minimumPeople-range-value">0</span></label>
                    <input type="range" id="add-area-minimumPeople-range" class="col-12 col-sm-9 form-range px-3" step="1" min="0" max="10"
                           onchange="document.getElementById('add-area-minimumPeople-range-value').innerText=this.value" value="0">
                    <label class="col-6 col-form-label" for="add-area-changeable">인수인계 여부</label>
                    <input type="checkbox" id="add-area-changeable" class="col-6 form-check px-3 mt-2" checked="true">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="addAreaByModalForm();">생성</button>
            </div>
        </div>
    </div>
</div>
<div class="modal text-dark" id="edit-area-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">구역 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-area-id">
                <input type="text" id="edit-area-name" class="form-control" placeholder="역할 이름">
                <div class="row">
                    <label class="col-12 col-sm-3 col-form-label" for="edit-area-difficulty-range">난이도 <span id="edit-area-difficulty-range-value">0</span></label>
                    <input type="range" id="edit-area-difficulty-range" class="col-12 col-sm-9 form-range px-3" step="1" min="0" max="10" value="0"
                           onchange="document.getElementById('edit-area-difficulty-range-value').innerText=this.value">
                    <label class="col-12 col-sm-3 col-form-label" for="edit-area-minimumPeople-range">최소인원 <span id="edit-area-minimumPeople-range-value">0</span></label>
                    <input type="range" id="edit-area-minimumPeople-range" class="col-12 col-sm-9 form-range px-3" step="1" min="0" max="10" value="0"
                           onchange="document.getElementById('edit-area-minimumPeople-range-value').innerText=this.value">
                    <label class="col-6 col-form-label" for="edit-area-changeable">인수인계 여부</label>
                    <input type="checkbox" id="edit-area-changeable" class="col-6 form-check px-3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-warning" onclick="editAreaByModalForm();">수정</button>
                <button type="button" class="btn btn-danger" onclick="deleteAreaByModalForm();">삭제</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var addModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('add-area-modal'));
    var editModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('edit-area-modal'));

    function addAreaByModalForm() {
        const name = document.getElementById('add-area-name').value;
        const difficulty = document.getElementById('add-area-difficulty-range').value;
        const minimumPeople = document.getElementById('add-area-minimumPeople-range').value;
        const changeable = document.getElementById('add-area-changeable').checked;
        if (!name || !difficulty || !minimumPeople) {
            alert('양식을 다 채워주세요.');
        }
        createArea({
            areaName: name,
            difficulty: difficulty,
            minimumPeople: minimumPeople,
            changeable: changeable
        });
        addModal.hide();
    }

    // area: {id, name, difficulty, minimumPeople}
    function openEditAreaModal(areaId) {
        getAreaFromServer(areaId).then(area => {
            if (area == null) {
                alert('역할 가져오기 실패');
                return;
            }
            document.getElementById('edit-area-id').value = area.areaId;
            document.getElementById('edit-area-name').value = area.areaName;
            document.getElementById('edit-area-difficulty-range').value =
            document.getElementById('edit-area-difficulty-range-value').innerText = area.difficulty
            document.getElementById('edit-area-minimumPeople-range').value =
            document.getElementById('edit-area-minimumPeople-range-value').innerText = area.minimumPeople;
            document.getElementById('edit-area-changeable').checked = area.changeable;
            editModal.show();
        })
    }

    function editAreaByModalForm() {
        const areaId = document.getElementById('edit-area-id').value;
        const name = document.getElementById('edit-area-name').value;
        const difficulty = document.getElementById('edit-area-difficulty-range').value;
        const minimumPeople = document.getElementById('edit-area-minimumPeople-range').value;
        const changeable = document.getElementById('edit-area-changeable').checked;
        if (!areaId || !name || !difficulty || !minimumPeople) {
            alert('양식을 다 채워주세요.');
        }
        editArea({
            areaId: areaId,
            name: name,
            difficulty: difficulty,
            minimumPeople: minimumPeople,
            changeable: changeable
        });
        editModal.hide();
    }

    function deleteAreaByModalForm() {
        if (confirm('이 구역을 삭제하시겠습니까?')) {
            const areaId = document.getElementById('edit-area-id').value;
            deleteArea(parseInt(areaId));
            editModal.hide();
        }
    }

</script>
</body>
</html>