<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/head::common-head}"></div>
    <style>
        h2 {
            font-family: "LeferiPoint-WhiteObliqueA", Serif;
        }

        main {
            font-family: "MaruBuri", Serif;
        }

        td {
            vertical-align: middle;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        .not-yet {
            color: #ffc720;
        }

        .in-progress {
            color: ivory;
        }

        .completed {
            color: lightgreen;
        }
    </style>
</head>
<body class="bg-dark text-white">
<div th:replace="~{fragment/sidebar::sidebar}"></div>
<div th:replace="~{fragment/body::common-header}"></div>
<main class="text-center mx-auto max-sm">
    <input type="hidden" th:value="${memberId}" id="my-member-id">
    <h2>인수인계</h2>
    <th:block th:switch="${changeTable.status}">
        <h3 th:id="'table-state'" th:case="${T(Choi.clean_lottery.domain.role_change.ChangeRoleTable$Status).IN_PROGRESS}">진행 중입니다</h3>
        <h3 th:id="'table-state'" th:case="${T(Choi.clean_lottery.domain.role_change.ChangeRoleTable$Status).DONE}">인수인계 완료</h3>
    </th:block>
    <hr>
    <h3 th:text="'주는 역할 - ' + ${givingRole}">주는 역할</h3>
    <table class="table table-dark table-borderless w-100">
        <thead>
        <th>구역</th>
        <th>상태</th>
        <th>담당</th>
        </thead>
        <tr th:each="giveCard: ${changeTable.giveAreaCardList}" th:id="'area$$' + ${giveCard.cardId}">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <hr>
    <h3 th:text="'받는 역할 - ' + ${receivingRole}">받는 역할</h3>
    <table class="table table-dark table-borderless">
        <thead>
        <th>구역</th>
        <th>상태</th>
        <th>담당</th>
        </thead>
        <tr th:each="receiveCard: ${changeTable.receiveAreaCardList}" th:id="'area$$' + ${receiveCard.cardId}">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <button th:if="${isManager}" class="btn btn-warning mb-4" onclick="if (confirm('인수인계를 모두 마치겠습니까?')) completeTable();">인수인계 완료</button>
</main>
<script type="text/javascript">
    const ROLE_CHANGE_API_PATH = '/api/v1/role-changing';
    const myMemberId = document.getElementById('my-member-id').value;
    const pathName = new URL(location.href).pathname
    const tableId = parseInt(pathName.substring(pathName.lastIndexOf('/') + 1));
    const domParser = new DOMParser();
    const stateMap = {
        "YET": {
            className:"not-yet",
            stateName:"인수인계 전"
        },
        "IN_PROGRESS": {
            className:"in-progress",
            stateName:"진행 중"
        },
        "DONE": {
            className:"completed",
            stateName:"완료"
        }
    }

    updateFromServer();
    setInterval(updateFromServer, 3000);

    function updateFromServer() {
        fetch(`${ROLE_CHANGE_API_PATH}/${tableId}`, {
            method: 'GET'
        }).then(response => response.json())
        .then(data => {
            if (data.result === 'SUCCESS') {
                if (data.data.status === "DONE") {
                    document.getElementById('table-state').innerText = '인수인계 완료!';
                }
                for (let areaCard of data.data.giveAreaCardList) {
                    updateRowByAreaCard(areaCard);
                }
                for (let areaCard of data.data.receiveAreaCardList) {
                    updateRowByAreaCard(areaCard);
                }
            }
        })
    }

    // areaCard {cardId, area, member, status}
    // state : YET, IN_PROCESS, DONE
    function updateRowByAreaCard(areaCard) {
        const row = document.getElementById(`area$$${areaCard.cardId}`);
        if (!row) {
            return;
        }
        const prevStateName = row.children[1].innerText;
        row.children[0].innerText = areaCard.area.name;
        row.children[1].setAttribute('class', stateMap[areaCard.status].className);
        row.children[1].innerText = stateMap[areaCard.status].stateName;
        // 상태 변화가 없으면 여기서 리턴.
        if (prevStateName === row.children[1].innerText) {
            return;
        }
        // changer {id, name, profileUrl}
        while (row.children[2].hasChildNodes()) {
            row.children[2].removeChild(row.children[2].lastChild);
        }
        let changer = null;
        if (areaCard.member) {
            changer = areaCard.member;
            if (changer.memberId === parseInt(myMemberId) && areaCard.status !== "DONE") {
                const buttonGroup = domParser.parseFromString(`<div class="button-group">
                <button class="btn btn-outline-warning m-1" onclick="completeArea(${areaCard.cardId})">완료</button>
                <button class="btn btn-outline-light m-1" onclick="cancelArea(${areaCard.cardId})">취소</button></div>`, 'text/html');
                for (let elem of buttonGroup.getElementsByClassName('button-group')) {
                    row.children[2].appendChild(elem);
                }
            } else {
                const profileGroup = domParser.parseFromString(`<div class="profile-group">
                <img src="${changer.profileUrl}"><span class="m-1">${changer.memberName}</span></div>`, 'text/html');
                for (let elem of profileGroup.getElementsByClassName('profile-group')) {
                    row.children[2].appendChild(elem);
                }
            }
        } else {
            const takePartInButton = domParser.parseFromString(`<button class="btn btn-outline-light" onclick="takePartInArea(${areaCard.cardId})">내가 맡기</button>`, 'text/html')
            row.children[2].appendChild(takePartInButton.getElementsByTagName('button')[0]);
        }
    }

    function takePartInArea(areaCardId) {
        if (confirm('이 구역을 인수인계하시겠습니까?')) {
            fetch(`${ROLE_CHANGE_API_PATH}/${tableId}/${areaCardId}/register`, {
                method: 'POST'
            }).then(response => response.json())
            .then(data => {
                if (data.result !== 'SUCCESS') {
                    console.log(JSON.stringify(data));
                    alert('오류가 발생했습니다. ' + data.msg);
                    return;
                }
                updateFromServer();
                alert('등록 완료');
            });
        }
    }

    function cancelArea(areaCardId) {
        if (confirm('맡은 구역을 취소하시겠습니까?')) {
            fetch(`${ROLE_CHANGE_API_PATH}/area/${areaCardId}`, {
                method: 'DELETE'
            }).then(response => response.json())
                .then(data => {
                    if (data.result !== 'SUCCESS') {
                        alert('오류가 발생했습니다. ' + data.msg);
                        return;
                    }
                    updateFromServer();
                    alert('취소 완료');
                });
        }
    }

    function completeArea(areaCardId) {
        if (confirm('인수인계가 완료되었습니까?')) {
            fetch(`${ROLE_CHANGE_API_PATH}/area/${areaCardId}`, {
                method: 'POST'
            }).then(response => response.json())
                .then(data => {
                    if (data.result !== 'SUCCESS') {
                        alert('오류가 발생했습니다. ' + data.msg);
                        return;
                    }
                    updateFromServer();
                    alert('완료!');
                });
        }
    }

    function completeTable() {
        fetch(`${ROLE_CHANGE_API_PATH}/${tableId}/complete`, {
            method:'GET'
        }).then(response => response.json())
        .then(data => {
            if (data.result === 'SUCCESS') {
                alert('인수인계가 모두 완료되었습니다!');
            } else {
                alert('인수인계가 완료되지 못했습니다.');
            }
        })
    }
</script>
</body>
</html>