<!doctype html>
<html class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{common.title}">말년청소</title>
  <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
  <style>
    a {
      text-decoration: none;
      color: whitesmoke;
    }

    a:hover {
      color: lightgray;
    }

    a:active {
      color: #51585e;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <a th:href="@{/}" class="h1 text-white float-start mb-0" th:text="#{common.title}">말년 청소</a>
      <div class="nav nav-masthead justify-content-center float-end" th:if="${session.loginMember != null}">
        <a href="info/memberInfo.html" th:href="@{/member/info}">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          [[${member.name}]]
        </a>
      </div>
    </div>
  </header>

  <main class="px-3">
    <h1>말년 청소</h1>
    <p class="lead" th:text="#{main.comment}">말년도 청소시키는 임무분담 뽑기</p>
    <p class="lead">
      <a href="#" th:href="@{/lottery}" class="btn btn-lg btn-secondary fw-bold border-white bg-white" th:text="#{main.button}">지금 청소 뽑기</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
</div>



</body>
</html>
